<div>
  <h2>コメント編集</h2>
  <%= form_with model:[@technology, @comment], local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
  
    <div class="form-group">
      <div class="form-group">
        <label>コメント</label>
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>
    <div class="text-center">
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <div>
    <%= link_to '投稿一覧ページに戻る', technologies_path %>
  </div>
  <div>
    <%= link_to '投稿詳細ページに戻る', technology_path(@technology) %>
  </div>
</div>
