<div>
  <h2>コメント編集</h2>
  <%= form_with model:[@technology, @comment], local: true do |f| %>
    <div class="form-group">
      <div class="form-group">
        <label>コメント</label>
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>会社名</label>
        <%= f.text_field :company, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>名前</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="text-center">
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
