<u><h2 class='text-center'>投稿一覧ページ</h2></u>
<% @technologies.each do |tech| %>
<div class='mt-5'>
  <h3 class='h4'><%= link_to tech.title, technology_path(tech), class: 'text-muted' %></h3>
  <div class="row">
    <div class="col-md-3 index_image text-center">
      <% if tech.image.attached? %>
        <%= image_tag tech.image.variant(resize: "256x144") %>
      <% else %>
        <%= image_tag 'no_image.jpg', width: '256' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class='tech_text'><%= tech.content %></div>
      <div class='remarks text-right mt-2'>
        <span class="mb-0"><span class=mr-2>投稿者名:</span><%= tech.user.name %></span>
        <span class='ml-4'><span class=mr-2>更新日時:</span><%= tech.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
        <span class='ml-4'>
          [ <%= link_to '編集', edit_technology_path(tech) %> ]
          [ <%= link_to '削除', technology_path(tech), method: :delete, data:{ confirm: '本当に削除してもよろしいですか？' } %> ]
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= paginate @technologies %>
