<div class="row">
  <div class="col-md-12">
    <h2><%= @technology.title %></h2>
    <div>
      説明: <%= @technology.content %>
    </div>
    <div>
      会社名: <%= @technology.company %>
    </div>
    <div>
      名前: <%= @technology.name %>
    </div>
    <hr>
    
    <div>
      <h3>コメント一覧</h3>
      <table class="table table-striped">
        <% if @technology.comments.any? %>
          <thead class="thead-light">
            <tr>
              <td>説明</td>
              <td>会社名</td>
              <td>名前</td>
              <td>メニュー</td>
            </tr>
          </thead>
          <tbody>
            <% @technology.comments.each do |comment| %>
              <tr>
                <td>
                  <%= comment.content %>
                </td>
                <td>
                  <%= comment.company %>
                </td>
                <td>
                  <%= comment.name %>
                </td>
                <td>
                  [ <%= link_to '編集', edit_technology_comment_path(@technology, comment) %> ]
                  [ <%= link_to '削除', technology_comment_path(@technology, comment), method: :delete, data:{ confirm: '本当に削除してもよろしいですか？'} %> ]  
                </td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <p>まだコメントはありません。</p>
        <% end %>
        
      </table>
      
    </div>
    
    <h3>新しいコメントを投稿します。</h3>
    
    <%= form_with model: [@technology,@comment], local: true do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @comment.errors.full_messages.each do |err| %>
              <li><%= err %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= f.hidden_field :technology_id, { value: @technology.id} %>
      <div class="form-group">
        <label>説明</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>会社名</label>
        <%= f.text_field :company, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>名前</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "送信", class: 'btn btn-primary' %>
      </div>
    
    <% end %>
    
    <div>
      <%= link_to '投稿一覧に戻る', root_path %>
    </div>
  </div>
</div>
